name: Build Manager

on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/build-manager.yml'
      - 'manager/**'
      - 'userspace/**'
  workflow_call:
  workflow_dispatch:

jobs:
  build-ksud:
    strategy:
      matrix:
        include:
          - target: aarch64-linux-android
            os: ubuntu-latest
    uses: ./.github/workflows/ksud.yml
    with:
      target: ${{ matrix.target }}
      os: ${{ matrix.os }}
      pack_lkm: false

  build-manager:
    needs: build-ksud
    runs-on: ubuntu-latest
    strategy:
      matrix:
        spoofed: [ false, true ]

    defaults:
      run:
        working-directory: ./manager

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Spoof Package ID
        if: matrix.spoofed == true
        run: |
          chmod +x spoof
          ./spoof

      - name: Setup need_upload
        id: need_upload
        run: |
          if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
            echo "UPLOAD=true" >> $GITHUB_OUTPUT
          else
            echo "UPLOAD=false" >> $GITHUB_OUTPUT
          fi

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Download arm64 ksud
        uses: actions/download-artifact@v6
        with:
          name: ksud-aarch64-linux-android
          path: .

      - name: Copy ksud to app jniLibs
        run: |
          mkdir -p app/src/main/jniLibs/arm64-v8a
          cp -f ../aarch64-linux-android/release/ksud ../manager/app/src/main/jniLibs/arm64-v8a/libksud.so

      - name: Build with Gradle
        run: ./gradlew clean assembleRelease

      - name: Upload build artifact
        uses: actions/upload-artifact@v5
        if: ${{ ( github.event_name != 'pull_request' ) || github.ref_type == 'tag' }}
        with:
          name: ${{ matrix.spoofed && 'manager-custom' || 'manager' }}
          path: manager/app/build/outputs/apk/release/*.apk
